<head>
    <title>Annual Lineworkers Rodeo Scoring | {{#each arrays}} {{title}} {{/each}}</title>
    {{> main/head-block}}
    <!-- competitors page js script -->
    <script type="text/javascript" src="/assets/js/comp.js"></script>
</head>
<body class="background mx-auto">

    {{#each arrays}}
        {{> main/title-block}}
    {{/each}}

    <main>

        <section class="section-container mx-auto text-center">

            <p class="item-title mx-auto">Select Competition Year</p>
            
            <select id="year-select">
                {{#each arrays}}
                    {{#each years}}
                        {{> year/year-block}}
                    {{/each}}
                {{/each}}
            </select>
            
        </section>
    
        <section id="view-section" class="section-container mx-auto text-center">

            <p class="mini-title mx-auto">View/Edit Competitors</p>

            <div id="view-dynamic-comp-select"></div>
            
            <div id="view-dynamic-comp-info"></div>

        </section>

        <section id="add-section" class="section-container mx-auto text-center">

            <p class="mini-title mx-auto">Add Competitors</p>

            <p class="item-title mx-auto">Select Competition Tier</p>
            
            <select id="tier-select">
                {{#each arrays}}
                    {{#each tiers}}
                        {{> year/tier-block}}
                    {{/each}}
                {{/each}}
            </select>

            <div id="add-dynamic-comp-info"></div>

        </section>

    </main>

    {{> main/nav-menu-block}}

</body>