<head>
    <title>Annual Lineworkers Rodeo Scoring | {{title}}</title>
    {{> main/head-block}}
</head>
<body class="background mx-auto">

    {{> main/title-block}}

    <main></main>

    {{> main/nav-menu-block}}

</body>