<head>
    <title>Annual Lineworkers Rodeo Scoring | {{title}}</title>
    {{> main/head-block}}
    <!-- reports page js script -->
    <script type="text/javascript" src="/assets/js/report.js"></script>
</head>
<body class="background mx-auto">

    {{#each arrays}}
        {{> main/title-block}}
    {{/each}}

    <main>

        <section class="section-container mx-auto text-center">

            <p class="item-title mx-auto">Select Competition Year</p>
            
            <select id="year-select">
                {{#each arrays}}
                    {{#each years}}
                        {{> year/year-block}}
                    {{/each}}
                {{/each}}
            </select>

            <p class="item-title mx-auto">Select Report Type</p>

            <select id="report-select">
                <option value="0">View Awards Layout (Top 3)</option>
                <option value="1">View All Results</option>
            </select>

            <p class="item-title mx-auto">Select Organization</p>

            <select id="org-select"></select>

            <p class="item-title mx-auto">Select Competition Tier</p>

            <select id="tier-select"></select>


            <p class="item-title mx-auto">Select Event/Overall</p>

            <select id="event-select"></select>
        
        </section>

        <section class="section-container mx-auto text-center">

            <button id="print" class="button">Create pdf</button>

        </section>

        <section id="dynamic" class="section-container mx-auto text-center"></section>

    </main>

    {{> main/nav-menu-block}}

</body>