<nav class="section-container mx-auto text-center">
    <button class="button" id="home">Home</button>
    <button class="button" id="view">View/Edit</button>
    <button class="button" id="year">Year Setup</button>
    <button class="button" id="comp">Competitors</button>
    <button class="button" id="score">Scores</button>
    <button class="button" id="reports">Reports</button>
</nav>